group Shared
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Fable.Elmish

group Server
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.JsonConverter
  nuget Fable.Elmish

group Suave
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Suave

group Giraffe
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Giraffe
  nuget Microsoft.AspNetCore.WebSockets

group HMR
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Elmish.HMR

group Browser
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Elmish.Browser

group Xamarin
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Elmish.XamarinForms 0.8.0
  nuget FSharp.Core
  nuget Xamarin.Forms 3.0.0.482510
  nuget System.Net.WebSockets.Client
  nuget Fable.JsonConverter

group Build
  source https://api.nuget.org/v3/index.json
  generate_load_scripts: true

  nuget FAKE