group Shared
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Fable.Elmish

group Server
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.JsonConverter
  nuget Fable.Elmish

  clitool Microsoft.DotNet.Watcher.Tools

group Suave
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Suave

  clitool Microsoft.DotNet.Watcher.Tools

group HMR
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Elmish.HMR

  clitool dotnet-fable

group Build
  source https://api.nuget.org/v3/index.json
  generate_load_scripts: true

  nuget FAKE