group Shared
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Fable.Elmish prerelease
  nuget Thoth.Json prerelease

group Server
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Thoth.Json.Net prerelease
  nuget Elmish

group Suave
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Suave

group Giraffe
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Giraffe < 3.0.0
  nuget Microsoft.AspNetCore.WebSockets

group Build
  source https://api.nuget.org/v3/index.json
  generate_load_scripts: true

  nuget FAKE